

.grid-container {
  display: inline-grid;
  grid-gap: 0px; 
  grid-template-columns: 200px 200px;
  grid-template-rows: 60px 100px 100px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  
  /* background-color:blue; */
}

.item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  /* background-color: aqua; */
}

.item3 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.item4 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.item5 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.item6 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.item7 {
  grid-column-start: 3;
  grid-column-end: 4;
}

input[type = "text"], input[type = "password"], textarea {
  /* display: block; */
  margin: 5px;
}


.left-col * {
  display: inline;
  position: relative;
}

.left-col label {
  left: 10px;
  /* color: aliceblue; */
}

.left-col input, .left-col textarea {
  bottom: 5px;;
}



.right-col * {
  display: inline;
}

.right-col {
  margin: 30px auto auto 5px;
  font-weight: 500;
}

.right-col button {
  position: relative;
  top: 5px;
}



#keyInput {
  display: inline;
}

#updateKeyBtn {
  position: absolute;
  top: 25px;
  right: 10px;

}